html {
  overflow-x: hidden;
}
body {
  position: relative;
  overflow-x: hidden;
}
.bg-slider-img {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-size: cover;
}
